@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h2>Delete this machine?</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

<br>

<button>
@Html.ActionLink("Back to all machines", "Index")
</button>