@{
  Layout = "_Layout";
}

<h1>Maintenance Portal</h1>

<button>
  @Html.ActionLink("See all engineers", "Index", "Engineers")
</button>
<button>
  @Html.ActionLink("See all machines", "Index", "Machines")
</button>
